@import "tailwindcss";

/* 动画插件 */
@plugin "tailwindcss-motion";

/* 主题模式 */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-primary: #0062ff;
    --color-success: rgb(16 185 129 / 1);
    --color-danger: oklch(0.577 0.245 27.325);
}

/* 聚合类 */
@layer components {
    .text-ellipsis-1 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}