.modal {
  padding: 15px;
  border: none;
  border-radius: 4px;
  animation: slideIn 0.3s ease-in-out forwards;
}

.modal::backdrop {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.35);
}

.modal__header {
  font-weight: bold;
  background: #fff;
  display: flex;
  align-items: center;
}

.modal__title {
  flex: 1;
  height: 55px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__body {
}
.modal__footer {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slideIn {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}
